<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * HTML Markup - No Found  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content_nofound">
	<div class="cont_nofound">
		<span class="shadow_text_01 icon-notification"></span>
		<h1 class="shadow_text_01 text_nofound">Pagina no Encontrada</h1>
	</div>
</div>


