<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * HTML Markup - Header  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header id="header_01" role="banner">
  <h1 class="header_title shadow_text_02">Catálogo</h1>
  <h1 class="header_title shadow_text_02">Online</h1>
  <div class="logo">
    <a class="shadow_text_02 animated">STAR</a>
    <a class="shadow_text_02 animated">WARS</a>
  </div>
</header>