<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * -->
<!-- * * * * * * * * * * * * HTML Markup - Movies Detail * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content_mov_detail">
	<div class="cont_mov_detail shadow_box_01">
		<img class="shadow_box_01" src="../../assets/images/movies/06.jpg">
		<h1 class="shadow_text_02 cont_mov_text">Episode IV - Una Nueva Esperanza</h1>
		<h1 class="shadow_text_02 cont_mov_text"><span class="cont_mov_icon icon-flag"></span>1978</h1>
		<h1 class="shadow_text_02 cont_mov_text"><span class="cont_mov_icon icon-star-full"></span>4.3</h1>
		<h1 class="shadow_text_02 cont_mov_text"><span class="cont_mov_icon icon-price-tag"></span>Drama, Accion, Ficcion</h1>
		<h1 class="shadow_text_02 cont_mov_text"><span class="cont_mov_icon icon-clock2"></span>2:30:00</h1>
		<h1 class="shadow_text_02 cont_mov_text_desc">Two Jedi escape a hostile blockade to find allies and come across a young boy who may bring balance to the Force, but the long dormant Sith resurface to claim their old glory. </h1>
	</div>
</div>


