<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * HTML Markup - Login * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content_log">
	<div class="cont_log shadow_box_01">
		<img class="" src="../../assets/icons/drk01.png">
		<form action="#" method="get">
			<input type="text" name="user" placeholder="Usuario">
			<input type="text" name="pass" placeholder="Password">
			<input id="cont_log_ok" type="submit" value="OK">
		</form>
	</div>
</div>


