<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * HTML Markup Below * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Header -->
<app-header></app-header>

<!-- Navigation -->
<app-navigation></app-navigation> 

<!-- Caracters -->
<!--app-characters></app-characters-->

<!-- Movies -->
<!--app-movies></app-movies-->

<!-- login -->
<!--app-login></app-login-->

<!-- Footer -->
<app-footer></app-footer>

<!-- Routing -->
<router-outlet></router-outlet>