<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * HTML Markup - Movies * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content_mov">
	<div class="cont_mov">
		<ul>
			<li class="shadow_box_01">
				<img class="shadow_box_01" src="../../assets/images/movies/01.jpg">
			</li>
		</ul>
	</div>
</div>


