<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Created by Adriana Martínez Beltrán * * * * * * * * * * -->
<!-- * * * * * * * * * * * * HTML Markup - Users Add * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content_usr_add">
	<div class="cont_usr_add shadow_box_01">
		<h1><span class="cont_usr_icon icon-plus"></span>Agregue Usuarios</h1>
		<form action="#" method="get">
			<input type="text" name="Nickname" placeholder="Nickname">
			<input type="text" name="Password" placeholder="Password">
			<input type="text" name="Tipousuario" placeholder="Tipo de Usuario">
			<input id="cont_usr_ok" type="submit" value="OK">
		</form>
	</div>
</div>


