<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * HTML Markup - Navigation  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="nav_ul" role="main"> 
  <ul>
    <li>
      <img class="bck_btn_wt" src="../../assets/images/bck-btn-wt.svg">
      <img class="bck_btn_bk" src="../../assets/images/bck-btn.svg">
      <a href="#" routerLink="/">Personajes</a>
    </li>
    <li>
      <img class="bck_btn_wt" src="../../assets/images/bck-btn-wt.svg">
      <img class="bck_btn_bk" src="../../assets/images/bck-btn.svg">
      <a href="#" routerLink="/movies">Peliculas</a>
    </li>
    <li>
      <img class="bck_btn_wt" src="../../assets/images/bck-btn-wt.svg">
      <img class="bck_btn_bk" src="../../assets/images/bck-btn.svg">
      <a href="#" routerLink="/login">Ingresar</a>
    </li>
  </ul>
</nav>