/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * 
 * * * * * * * * * * * * CSS stylesheet - Navigation * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.nav_ul ul {
    width: 560px;
    height: 105px;
    padding: 0px;
    margin: 10px auto;
    text-align: center;
    list-style-type: none;
}

.nav_ul li {
	padding:0;
	float:left;
	width: 180px;
	height: 100px;
	min-width: 50px;
	display:inline-block;
}

#bck_btn_pth path:hover{
	fill:yellow;
}

.bck_btn_wt{
	top:90px;
	left:20px;
	float: left;
	width: 170px;
	height: 45px;
	z-index: -20;
	position: relative;
}

.bck_btn_bk{
	top:35px;
	left:15px;
	float: left;
	width: 170px;
	height: 45px;
	z-index: -20;
	position: relative;
}

.nav_ul a{
	color: #fff;
	z-index: -10;
	cursor:pointer;
	text-decoration: none;
	padding: 0 5px 0 25px;
    font-family: 'Galaxy'; 
    transition: all 300ms ease-in;   
}

.nav_ul a:hover{
	color: #ffc200;
    transition: all 400ms ease-in;
}