/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * 
 * * * * * * * * * * * * CSS stylesheet - Characters * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.content_chr {
	width: 100%;
	height: 650px;
}

.cont_chr {
	width: 285px;
	height: 590px;
	text-align: center;
	margin: 120px auto;
	border-radius: 15px;
}

.cont_chr img {
	margin-bottom: 35px;

}

.cont_chr ul {
    padding: 0;
    list-style-type: none;
}

.cont_chr li {
	width: 100%;
	height: 100%;
}

.icon_chr {
	display: inline;
	font-size: 40px;
	margin: 0 15px 0 0;
	text-align: center;
	transition: all 100ms ease-in; 
}

.cont_chr span:hover {
	transition: all 300ms ease-in; 
	color:#ffc200;
}

.cont_chr span {
	bottom: 0;
	margin-left:10px; 
}



