<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * HTML Markup - Movies Add  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content_mov_add">
	<div class="cont_mov_add shadow_box_01">
		<h1><span class="cont_mov_icon icon-plus"></span>Agregue Peliculas</h1>
		<form action="#" method="get">
			<input type="text" name="titulo" placeholder="Titulo">
			<input type="text" name="Estreno" placeholder="Estreno">
			<input type="text" name="Puntuacion" placeholder="Puntuacion">
			<input type="text" name="Categorias" placeholder="Categorias">
			<input type="text" name="Duracion" placeholder="Duracion">
			<input type="text" name="Descripcion" placeholder="Descripcion">
			<input id="cont_mov_ok" type="submit" value="OK">
		</form>
	</div>
</div>




