/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * 
 * * * * * * * * * * * * CSS stylesheet - Movies Add * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.content_mov_add {
	width: 100%;
	height: 650px;
}

.cont_mov_add {
	width: 600px;
	height: 615px;
	text-align: center;
	margin: 120px auto;
	border-radius: 5px;
	background-color: #fff;
}

.cont_mov_add h1{
	margin: 0;
	font-size: 20px;
	padding: 50px 0 0 0;
	font-family: 'Galaxy';
}

.cont_mov_add form input{
	width: 330px;
	border: none;
	margin: 20px auto 0 auto;
	position: relative;
	text-align: center;
	background: #f5f5f5;
	font-family: 'Galaxy';
	display: inline-block;
	transition: all 200ms ease-in;   
}

.cont_mov_add form input:nth-child(1) {
	margin: 80px auto 0 auto;
} 

.cont_mov_add form input:nth-child(2) {
	margin: 20px auto 0 auto;
	
} 

.cont_mov_add form input:focus { 
    border-color: #fff;
    outline: none !important;
    transition: all 300ms ease-in; 
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}


.cont_mov_add form input:hover  {
	width: 345px;
}

#cont_mov_ok {
	color: #fff;
	width: 100px;
	margin: 50px auto 0 auto;
	display: inherit;
	font-family: 'Galaxy';
	background-color: #000;
}

#cont_mov_ok:hover{
	color:#ffc200;
}

.cont_mov_icon {
	padding: 10px;
	font-size: 15px;
}